__pycache__/
.idea/
docker/data/
.pytest_cache/
dump.rdb
.venv
.env.development
.env.production
.env.shared
backend/static/task_result/*
backend/static/file_translation/*
backend/static/*
.vscode
backend/static/task_result/
backend/static/speech_recognition/*
frontend/.env
frontend/yarn.lock
