sanic
click
asyncio
aiotask_context
pydantic
uvicorn
python-dotenv
cassandra-driver
aiohttp
aiokafka
sanic_openapi
addict
schedule
aiofiles
apscheduler
umongo
umongo[mopyttor]
sanic-cors
numpy
python-docx
requests
motor
